[user]
  name = Gaurav Keswani
  email = gaurav.keswani@shopify.com

[core]
  commitGraph = true
  editor = vim
  pager = delta

[diff]
  algorithm = patience
  colorMoved = default

[gc]
  writeCommitGraph = true

[protocol]
  version = 2

[url "https://github.com/Shopify/"]
  insteadOf = git@github.com:Shopify/
  insteadOf = git@github.com:shopify/
  insteadOf = ssh://git@github.com/Shopify/
  insteadOf = ssh://git@github.com/shopify/

[push]
  default = current

[pull]
  default = current
  rebase = true

[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  hist = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %s %C(green)(%cr) %C(blue)<%an>%C(magenta)%d%C(reset)'
  graph = log --graph -9 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order

  # show difference between the HEAD and the index
  d = diff
  dc = diff --cached
  ds = diff --staged
  staged = diff --cached
  unstaged = diff

  # git logs
  l = log
  log = log --oneline
  latest = log --oneline -1
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  current = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  cur = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  br = branch
  co = checkout
  com = checkout main
  st = status
  cm = commit
  fo = fetch origin
  cp = cherry-pick
  gs = "git stash"
  unstash = "git stash pop"
  pull = "!git pull origin $(git branch-name)"
  push = "!git push origin $(git branch-name)"
  pushf = "!git push origin $(git branch-name) --force-with-lease"

[sequence]
  editor = interactive-rebase-tool

[interactive]
  diffFilter = delta --color-only

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  navigate = true                     # use n and N to move between diff sections
  line-numbers = true                 # show line numbers
  side-by-side = true                 # display a side-by-side diff view
  light = false                       # set to true if you're in a light terminal background
  syntax-theme = Nord                 # syntax highlighting theme
  features = decorations              # enable terminal decorations
  
  # Make the dark delta background lighter than the terminal background
  minus-style                   = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-emph-style              = syntax "#71383f"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  line-numbers-minus-style      = "#c25d64"
  plus-style                    = syntax "#283f3d"
  plus-non-emph-style           = syntax "#283f3d"
  plus-emph-style               = syntax "#316e5c"
  plus-empty-line-marker-style  = syntax "#283f3d"
  line-numbers-plus-style       = "#399b7c"
  line-numbers-zero-style       = "#3b4048"

[merge]
  conflictstyle = diff3

# Dev related config
[include]
	path = /Users/gaurav/.config/dev/gitconfig
[maintenance]
	repo = /Users/gaurav/world/trees/root/src
	repo = /Users/gaurav/world/trees/business-platform-internal/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
